#player1NameLabel, #player2NameLabel {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14pt;
    -fx-text-fill: #ef2559;
}

#gameTableMainLayout {
    -fx-background-image: url("../img/four_in_row_bg_pattern.jpg");
    -fx-shape:"M 10.543 -65.083 C -0.32 -128.055 -1.467 -129.583 6.556 -128.437 C 14.728 -130.869 33.318 -113.671 50.01 -129.93 C 58.708 -131.177 68.065 -132.639 83.804 -122.022 S 100.8417 -131.279 159.722 -130.373 S 198.061 -136.067 204.894 -118.985 S 199.959 -109.875 203.755 -85.202 Q 214.004 -58.905 202.616 -44.585 Q 210.566 -20.51 210.184 -10.386 T 151.751 -5.108 Q 100.9205 -0.835 48.502 -3.969 C 2.736 1.075 0.826 -1.981 11.302 -30.92 Z";
    -fx-background-position: center center;
    -fx-background-repeat: repeat;
    -fx-border-color: #b9ffe2;
    -fx-border-width: 1em;
}

#gameTableMainLayout:pressed {
    -fx-border-color: #65eaea;
    -fx-border-width: 1em;
}

#graphicTable {
}

.root {
    -fx-background-image: url("../img/snow.jpg");
}

#title {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 18pt;
    -fx-text-fill: #6b2a2a;
}

#chooseText {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14pt;
    -fx-text-fill: #165e6d;
}

#winnerLbl {
    -fx-background-image: url("../img/wood.jpg");
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 14pt;
    -fx-text-fill: #eadead;
    -fx-padding: 10;
    -fx-font-weight: bold;
    -fx-shape: "M 10.543 -65.083 C -0.32 -128.055 -1.467 -129.583 6.556 -128.437 C 14.728 -130.869 33.318 -113.671 50.01 -129.93 C 58.708 -131.177 68.065 -132.639 83.804 -122.022 S 100.8417 -131.279 159.722 -130.373 S 198.061 -136.067 204.894 -118.985 S 199.959 -109.875 203.755 -85.202 Q 214.004 -58.905 202.616 -44.585 Q 210.566 -20.51 210.184 -10.386 T 151.751 -5.108 Q 100.9205 -0.835 48.502 -3.969 C 2.736 1.075 0.826 -1.981 11.302 -30.92 Z";
}

#winnerLbl:hover {
    -fx-text-fill: #1bd2ea;
    -fx-border-width: 0.1em;
    -fx-border-color: #acffa6;
}

#playerOneNameBox > .open-button > .arrow {
    -fx-background-color: #3a801c;
    -fx-scale-x: 1.3pt;
    -fx-scale-y: 1.3pt;
    -fx-border-color: black;
}

#playerOneNameBox > .open-button > .arrow:hover {
    -fx-background-color: #29b1b7;
    -fx-scale-x: 1.4pt;
    -fx-scale-y: 1.4pt;
    -fx-border-color: #8f2626;
}

#playerOneNameBox > .label {
    -fx-text-fill: white;
    -fx-background-color: #b20836;
    -fx-background-radius: 2pt;
    -fx-border-color: black;
    -fx-border-radius: 2pt;
}

#playerTwoNameBox > .label {
    -fx-text-fill: white;
    -fx-background-color: #164885;
    -fx-background-radius: 2pt;
    -fx-border-color: black;
    -fx-border-radius: 2pt;
}

#playerTwoNameBox > .open-button > .arrow {
    -fx-background-color: #3a801c;
    -fx-scale-x: 1.3pt;
    -fx-scale-y: 1.3pt;
    -fx-border-color: black;
}

#playerTwoNameBox > .open-button > .arrow:hover {
    -fx-background-color: #29b1b7;
    -fx-scale-x: 1.4pt;
    -fx-scale-y: 1.4pt;
    -fx-border-color: #8f2626;
}

#playBtn {
    -fx-border-radius: 2pt;
    -fx-border-color: black;
    -fx-background-radius: 2pt;
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(green, #b4caaf);
}

#playBtn:hover {
    -fx-background-color: linear-gradient(green, #cf9e29);
}

#createBtn {
    -fx-border-radius: 2pt;
    -fx-border-color: black;
    -fx-background-radius: 2pt;
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#325bb0, #b4caaf);
}

#createBtn:hover {
    -fx-background-color: linear-gradient(green, #aba493);
}